<main>
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> API SISPOL WEAPONS</h1>
            <h3 class="mb-5">
                <em>
                    Store your Favorite Weapons!
                </em>
            </h3>
            <a class="btn btn-primary" href="/api-weapons/signin"> Les't Get Started </a>
        </div>
    </div>
</main>